<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="js.rbuddy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <!-- we need the camera to take photos of receipts (though I suppose we could allow just existing photos) -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <!-- not sure if this is required... -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- for an online icon generator, see http://romannurik.github.io/AndroidAssetStudio/icons-launcher.html -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="js.rbuddyapp.ReceiptListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="js.rbuddyapp.SearchActivity"
            android:parentActivityName="js.rbuddyapp.ReceiptListActivity"
            android:windowSoftInputMode="stateUnchanged"
             >
        </activity>
        <activity
            android:name="js.rbuddyapp.EditReceiptActivity"
            android:parentActivityName="js.rbuddyapp.ReceiptListActivity"
            android:windowSoftInputMode="stateUnchanged" >
        </activity>
        <activity
            android:name="js.rbuddyapp.PhotoActivity"
            android:parentActivityName="js.rbuddyapp.EditReceiptActivity"
            android:windowSoftInputMode="stateUnchanged" >
        </activity>
    </application>

</manifest>