<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.js.rbuddy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <!-- we need the camera to take photos of receipts -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!--  This seems to be required for Samsung Galaxy S3, maybe related to my recent upgrade  -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <!-- not sure if this is required... -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- for an online icon generator, see http://romannurik.github.io/AndroidAssetStudio/icons-launcher.html -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity android:name="com.js.rbuddyapp.RBuddyActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest><!--
If proguard is used, we need to follow the directions in 

http://developer.android.com/google/play-services/setup.html 

  "Create a Proguard Exception" 
-->
